%html{xmlns: 'http://www.w3.org/1999/html'}
  %head
    %title
      - if content_for?(:title)
        ${ENV["SITE_NAME"}:
        = yield :title
      -else
        ${ENV["SITE_NAME"}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag 'zoomed.application', media: 'all'
    %meta{property: 'og:title', content: '#{ENV["SITE_TITLE"}'}
    %meta{property: 'og:image', content: 'http://hackweek.suse.com/images/#{ENV["SITE_NAME"]}-logo-10.png'}
    %meta{property: 'og:site_name', content: '#{ENV["SITE_TITLE"}'}
    %meta{property: 'og:description', content: '#{ENV["SITE_DESC"]}'}
    = javascript_include_tag 'zoomed.application'
    = csrf_meta_tags
  %body
    .container-fluid
      #content
        = yield

    = yield :script
